body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

#gameboard {
    width: 300px;
    height: 300px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
}

.square {
    width: 100px;
    height: 100px;
    background-color: white;
    border: solid 2px black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

/* Circle */
.нулик {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 15px solid blue;
    box-sizing: border-box;
}

/* Cross */
.хрестик {
    height: 90px;
    width: 90px;
    position: relative;
    transform: rotate(45deg);
}

.хрестик::before,
.хрестик::after {
    content: "";
    position: absolute;
    background-color: red;
}

.хрестик::before {
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}

.хрестик::after {
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}
